{% extends "admin/model/list.html" %}
{% block body %}
  <h1>Accounts list</h1>
  <div class="alert alert-info" role="alert">
    <i class="fa fa-question-circle" aria-hidden="true"></i> When a user's password changes, the API secret token changes too and it needs to be updated here.
  </div>
  {{ super() }}
{% endblock body %}
