{% extends 'admin/master.html' %} {% block body %}
<h1>Create a new API token</h1>
  <form action="{{ url_for('apitoken.create_view') }}" method="POST">
      {{ api_form.csrf_token }}
      <div class="form-group">
        {{ api_form.token_name.label }}{{
        api_form.token_name(class="form-control") }}
      </div>
      <div class="form-group">
        {{ api_form.account.label }}{{
        api_form.account(class="form-control") }}
      </div>
      <div class="form-group">
        {{ api_form.scope.label }}{{
        api_form.scope(class="form-control") }}
      </div>
      <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
{% endblock %}