{% extends "admin/master.html" %}
{% block body %}
  <div class="py-5 text-center">
    <h2>TTAAS website admin dashboard</h2>
    <p class="lead">This is the TTAAS website admin page. From here, you can manage this website</p>
  </div>
  <div class="row">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">System info</span>
        <span class="badge bg-light rounded-pill"><i class="fa fa-info-circle"></i>
      </span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">ASR Instance</h6>
          <small class="text-muted">{{ asr_instance }}</small>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Database</h6>
          <small class="text-muted">{{ db_instance }}</small>
        </div>
      </li>
    </ul>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Transcription system</h6>
          <small class="text-muted"><strong>Translation enabled</strong>: {{ translations_enabled }}</small>
        </div>
      </li>
    </ul>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">API</h6>
          <ul>
            <li>
              <small class="text-muted"><strong>Private</strong>: <a href="{{ url_for("private_api.doc")}}" target="_blank">{{ url_for("private_api.doc")}}</a></small>
            </li>
            <li>
              <small class="text-muted"><strong>Internal</strong>: <a href="{{ url_for("internal_api.doc")}}" target="_blank">{{ url_for("internal_api.doc")}}</a></small>
            </li>
            <li>
              <small class="text-muted"><strong>Public</strong>: <a href="{{ url_for("public_api.doc")}}" target="_blank">{{ url_for("public_api.doc")}}</a></small>
            </li>
          </ul>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Database</h6>
          <small class="text-muted">{{ db_instance }}</small>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">CERN Search</h6>
          <small class="text-muted">{{ search_instance }}</small>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Stats: {{ selected_year }}</h4>
    <form method="post" action="/admin/" class="mb-3">
      {{ metrics_form.csrf_token }}
      <div class="form-group">
        {{ metrics_form.selected_year.label }}{{
        metrics_form.selected_year(class="form-control") }}
      </div>
      <input class="btn btn-primary" type="submit" value="Show stats" />
    </form>
    <h5>Users</h5>
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-primary">
          <div class="card-body text-center">
            <h5 class="card-title">{{ metrics.users.active_users_count }}</h5>
            <p class="card-text">new users</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-success">
          <div class="card-body text-center">
            <h5 class="card-title">{{ metrics.users.new_users_count }}</h5>
            <p class="card-text">active users</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-danger">
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ metrics.users.revoked_users_count }}
            </h5>
            <p class="card-text">
              revoked users
            </p>
          </div>
        </div>
      </div>
    </div>
    <h5>
      Transcriptions
    </h5>
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-primary">
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ metrics.transcriptions.requested_transcriptions_count }}
            </h5>
            <p class="card-text">
              requested
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-success">
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ metrics.transcriptions.completed_transcriptions_count }}
            </h5>
            <p class="card-text">
              completed
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-danger">
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ metrics.transcriptions.errored_transcriptions_count }}
            </h5>
            <p class="card-text">
              errored
            </p>
          </div>
        </div>
      </div>
    </div>
    <h5>
      API tokens
    </h5>
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-primary">
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ metrics.api_tokens.new_api_tokens_count }}
            </h5>
            <p class="card-text">
              new API tokens
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-success">
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ metrics.api_tokens.active_api_tokens_count }}
            </h5>
            <p class="card-text">
              active API tokens
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-danger">
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ metrics.api_tokens.revoked_api_tokens_count }}
            </h5>
            <p class="card-text">
              revoked API tokens
            </p>
          </div>
        </div>
      </div>
    </div>
    <h5>
      Accounts
    </h5>
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-primary">
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ metrics.accounts.new_accounts_count }}
            </h5>
            <p class="card-text">
              new accounts
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-success">
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ metrics.accounts.active_accounts_count }}
            </h5>
            <p class="card-text">
              active accounts
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card mb-3 text-white bg-danger">
          <div class="card-body text-center">
            <h5 class="card-title">
              {{ metrics.accounts.revoked_accounts_count }}
            </h5>
            <p class="card-text">
              revoked accounts
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
