{% extends "admin/model/edit.html" %}
{% block body %}
  <h1>Upload: {{ model.title }}</h1>
  <p>Media ID: {{ model.media_id }}</p>
  {{ super() }}
  <h2>State log</h2>
  <p>List of states of the upload</p>
  <ol>
    {% for message in model.state_logs %}
      <li>{{ message.created_on.strftime('%d/%m/%Y %H:%M:%S') }} - {{ message.description }}</li>
    {% endfor %}
  </ol>
{% endblock body %}
