{% import 'admin/layout.html' as layout with context -%} {% import
'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
  <head>
    <title>Transcription and Translation Service website Login</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="{{ url_for('static', filename='styles/bootstrap4/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='styles/bootstrap4/css/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <style>
      .hide {
        display: none;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark mb-2"
      role="navigation"
    >
      <a class="navbar-brand" href="#">Transcription and Translation Service Admin website</a>
      <!-- Brand and toggle get grouped for better mobile display -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#admin-navbar-collapse"
        aria-controls="admin-navbar-collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar content -->
      <div class="collapse navbar-collapse" id="admin-navbar-collapse"></div>
    </nav>

    <div class="container">
      {% if is_dev %}
      <div id="test-instance">
        <div class="alert alert-warning" role="alert">
          <i class="fa fa-warning"></i> THIS IS A TEST/DEV INSTANCE
        </div>
      </div>
      {%endif%}

      <div>
        <h3>Transcription and Translation Service website Login (Admin)</h3>
      </div>
      <div>
        <a href="{{ url_for('cern_openid.login') }}" class="btn btn-primary"
          ><i class="sign in icon"></i> Sign in</a
        >
      </div>
    </div>
  </body>
</html>
